body {
	margin: auto;
	text-align: center;
	background-color: #c0cde2;
}

h1 {
	color: #444;
	font-family: 'Roboto Condensed', sans-serif; 
}

img {
	
}

p {
	color: #444;
	font-family: 'Saira Semi Condensed', sans-serif;
}